.FilmsLayout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1em;
  
    @media only screen and (min-width: 750px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .noResult {
        text-align: center;
        left: 50%;
        position: absolute;
        
        bottom: 50%;
        width: 250px;
        margin-bottom: -90px;
        margin-left: -125px;
      
        @media only screen and (min-width: 750px) {
          width: 600px;
          margin-bottom: 0;
          margin-left: -300px;
        }
      }
      
  }
