@import "./design-tokens/scss-variables.scss";
@import "./design-tokens/css-variables.scss";

html, body {
  min-height: 100%;
}

body {
  background-image: url('./assets/a.jpg'),
    linear-gradient(
      90deg,
      rgba(48, 56, 73, 0.7) 0%,
      rgba(48, 56, 73, 0.7) 100%
    );
    
  background-blend-mode: multiply;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.8;
  font-family: 'Merriweather', serif;
  color: #ffffff;
}
