@import './design-tokens/scss-variables.scss';
@import './design-tokens/css-variables.scss';

html,
body,
#root,
.App {
  height: 100%;
}

body {
  background-image: url('./assets/cine-background.jpg');
  background-color: rgba(48, 56, 73, 0.7);
  background-repeat: initial;
  background-size: 200px 200px;

  background-blend-mode: multiply;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.8;
  font-family: 'Merriweather', serif;
  color: #ffffff;

}

@media only screen and (min-width: 750px) {
  body {
    font-size: 1.125rem;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
}

.button {
  background-color: transparent;
  padding: .25em .5em;
  border-radius: .25em;
  color: white;
  border-color: white;
  border: 2px solid;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}


.Has-NavBar-container {
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  padding-top: 4em;

  @media only screen and (min-width: 750px) {
    padding-top: 5em;
  }
}